---
layout: default
---

<article class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto prose">
    <div class="flex items-center gap-x-3">
        <div class="avatar placeholder size-20 shrink-0">
            <div class="rounded-full bg-neutral text-neutral-content w-24">
                <span class="text-3xl">
                    {% assign name_parts = page.name | split: ' ' %}
                    {% for part in name_parts %}{{ part | slice: 0, 1 | join: '' }}{% endfor %}
                </span>
            </div>
        </div>

        <div class="grow">
            <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-200">
                {{ page.name }}
            </h1>
            <p class="text-sm text-gray-600 dark:text-neutral-400">
                {{ page.position }}
            </p>
        </div>
    </div>

    <div class="mt-8">
        <article class="prose">
            {{ content }}
        </article>

        <ul class="mt-5 flex flex-col gap-y-3">
            {%- for social in site.data.social -%}
            {%- assign key = social[0] -%}
            {%- assign settings = social[1] -%}

            {%- if page[key] -%}
            <li class="flex items-center gap-x-2.5 text-primary">
                <i class="{{ settings.icon }}"></i>
                <a href="{{ settings.prefix }}{{ page[key] }}"
                   class="text-[13px] underline hover:decoration-2 focus:outline-none focus:decoration-2"
                    target="_blank"
                >
                    {{ page[key] }}
                </a>
            </li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</article>
<!--
<h2>Posts</h2>
<ul>
    {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
    {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
-->