---
layout: default
---

<article class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto prose">
    <div class="flex items-center gap-x-3 flex flex-col items-center justify-center">
        <div class="avatar placeholder">
            <div class="w-48 rounded-full">
                <img src="/assets/img/authors/{{ page.short_name }}.jpg" class=""/>
            </div>
            <!-- <div class="rounded-full bg-neutral text-neutral-content w-24">
                <span class="text-3xl">
                    {% assign name_parts = page.name | split: ' ' %}
                    {% for part in name_parts %}{{ part | slice: 0, 1 | join: '' }}{% endfor %}
                </span>
            </div>
            -->
        </div>

        <div class="grow">
            <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-200">
                {{ page.name }}
            </h1>
            <p class="text-sm text-gray-600 dark:text-neutral-400">
                {{ page.position }}
            </p>
            <ul class="mt-5 flex gap-x-3">
                {%- for social in site.data.social -%}
                {%- assign key = social[0] -%}
                {%- assign settings = social[1] -%}

                {%- if page[key] -%}
                <li class="flex items-center gap-x-2.5 text-primary">
                    <a href="{{ settings.prefix }}{{ page[key] }}"
                       class="text-[24px] text-primary no-underline"
                       target="_blank"
                    >
                        <i class="{{ settings.icon }}"></i>
                    </a>
                </li>
                {%- endif -%}
                {%- endfor -%}
            </ul>
        </div>
    </div>

    <div class="mt-8 flex flex-col items-center justify-center">
        <article class="prose">
            {{ content }}
        </article>
    </div>
</article>
<!--
<h2>Posts</h2>
<ul>
    {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
    {% for post in filtered_posts %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
-->